<div class="primary">
<img src="https://cdn.thinglink.me/api/image/1012742755425714178/1240/10/scaletowidth" alt="" width="100%">
</div>
<aside class="secondary">
<div class="search-box">
	<input type="text" id="search-box" class="search-input" placeholder="Buscar">
</div>
<div class="list-box">
	<h4>España</h4>
	<a href="">The Wizard</a>
	<a href="">Apple Heart</a>
	<a href="">Crazy Banana</a>
	<a href="">The Eggplanthead</a>
	<a href="">Smoothies y Soul</a>
	<a href="">Seed of Life</a>
	<a href="">Raw Delight</a>
	<a href="">Grilled Chipotle</a>
	<a href="">Oolong House</a>
	<h4>Italia</h4>
	<a href="">Cold Soup Kitchen</a>
	<a href="">Superfood</a>
	<a href="">Love 2 Cook</a>
	<a href="">Permaculture Hub</a>
	<a href="">Folding Life</a>
	<a href="">Rocketship Tech</a>
	<a href="">Which Bug?</a>
	<a href="">Enlightend Path</a>
	<a href="">Docu Dome</a>
	<h4>Francia</h4>
	<a href="">Little Artist</a>
	<a href="">Your Last Shirt</a>
	<a href="">Tool Exchange</a>
	<a href="">Dress me not</a>
	Cognitio
	<a href="">What makes us walk</a>
	<a href="">No Princess</a>
	<a href="">Star Gazer</a>
	<a href="">Space 16</a>
	Breathe
	<a href="">Meditation Garden</a>
	<a href="">Hot Tub Festival</a>
	<a href="">Feel the Grass</a>
</div>
</aside>