<div class="home-back">
	<div class="intro">
		<img src="/assets/icon-patrimonio.svg" alt="Patrimonio historico" width="100px">
		<h2>Patrimonios Historicos de maipú</h2>
		<h1>
			Huellas en el <br> Cementerio Local
		</h1>
		<div class="actions">
			{{#link-to 'sobre-la-aplicacion'}}Sobre la aplicación{{/link-to}}
			{{#link-to 'patrimonios'}}Iniciar app{{/link-to}}
		</div>
	</div>
</div>