<div class="home-back">
	<div class="intro about">
		
		{{#link-to 'index' class="about-back"}}
			{{fa-icon 'close' size='2'}}
		{{/link-to}}
		<img src="/assets/icon-patrimonio.svg" alt="Patrimonio historico" width="80px">
		<h2>Patrimonio Historico de maipú</h2>

		<p>
			Esta aplicación fue realizada por los docentes del Itinerario Formativo en Turismo, de la Escuela Secundaria N° 2 de Maipú, Profesores Gustavo J. Annessi, Paola Demirta y Vanina Ledesma. Los alumnos de los distintos años han realizado el inventario, clasificación e investigación.
		</p>
		<p>
			Los primeros antecedentes los encontramos en la Prof. de Historia Susana Fernández, quien en la década de los noventa realizó con los alumnos que asistían a "Proyecto 13" los primeros relevamientos. Más adelante las Profesoras de Geografía Paola Demirta y Soledad Prieto realizaron una investigación dentro del marco  del Itinerario Formativo de Turismo, denominada "PASADO MASÓNICO EN MAIPÚ. Huellas en el cementerio local", publicada en la Revista Perspectivas 1, en el año 2014. 
		</p>
		<p>
			Articulan y colaboran con este proyecto el Centro de Capacitación, Información e Investigación Educativa de Maipú (CIIE) y el Centro de Estudios Sociales de Maipú (CESMa).  
		</p>
		<div class="actions">
			{{#link-to 'patrimonios' class="btn"}}
			Ir a la aplicación
		{{/link-to}}
		</div>
		{{outlet}}
	</div>
</div>


  

